.white-bg {
    background-color: var(--bialy)
}
.white-txt {
    color: var(--bialy);
}
.navy-bg {
    background-color: var(--granatowy);
}
.navy-txt {
    color: var(--granatowy);
}
.black-txt{
    color: var(--czarny)
}