html {
  font-size: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
h1,h2,h3 {
  text-transform: uppercase;
  font-weight: 800;
}
h1 {
//  font-size: 50px;
 @include font-size(50);
}
h2 {
//  font-size: 32px;
@include font-size(32);
}
h3 {
//  font-size: 21px;
@include font-size(21);
}


p {
  /* font-size: 1.7rem; */
  // font-size: 17px;
  @include font-size(17);
  line-height: 24px;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
.fw-100 {
  font-weight: 100;
}

p.workplace {
  font-style: italic;
}

.skill-name {
  font-size: 12px;
}
.skill-item {
  align-items: center;
}